<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://www.butterflylabs.org/zilliqa/xtext/Scilla"
			class = "org.butterflylabs.zilliqa.xtext.scilla.ScillaPackage"
			genModel = "model/generated/Scilla.genmodel" />
	</extension>
</plugin>
